.destinosGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10px;
    
}

.destinationCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px; 
    font-size: 16px;
    color:  #05446e;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 10px;
}

.image {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
    cursor: pointer;
     
}
.destinationCard:hover .image {
    transform: scale(1.1); 
}

.preco {
    font-weight: bold;
    color: #05446e;
    margin-top: 10px;
    font-family: 'Open Sans', normal;
   
}

.carrinhoButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.carrinhoImg{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: none;
  }

