.homeContainer {
  /* padding: 20px; */
  text-align: center;

  
  
}
.bannerHome {
 justify-content: center;
 height: 35%;
 width: 100%;
 display: flex;
 align-items: center;
 padding-bottom: 50px;
  
}

.featuredImages {
  display: flex;
  gap: 10px;
  justify-content: center;

}

.image {
  width: 45%;
  border-radius: 8px;
  display: flex;
}

.destinationsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.destinationCard {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  height: 150px;
  width: 200px;
  font-size: 24px;
  color: #aaa;
}
.destinos{
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-bottom:30px;
  font-size: 30px;
  color:#043352;
}


