* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fundo{
  background-color: #0060a0;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex; 
  align-items: center; 
  justify-content: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-wrap: nowrap;
}

.nome{
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;

}
.quantidade{
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}
.preco{
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}
.subtotal{
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}
